.main_img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

.card-header {
    background-color: rgb(162, 162, 172);
}

.card-title {
    margin: 1.5rem 0;
}

.card-text {
    margin: 0 1.5rem;
}

@media (max-width: 320px) {
    .main_img {
        width: 50%;
        height: 50%;
    }
}

.news_block {
    margin-top: 4.5rem;
}